<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382121001917-ibhfmd2f8j98d29s1rgn6q50ii9odgqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382121001917-ibhfmd2f8j98d29s1rgn6q50ii9odgqu</string>
	<key>API_KEY</key>
	<string>AIzaSyA3SydIe-_hCO18HNUib0BoKP3EjZCFEIg</string>
	<key>GCM_SENDER_ID</key>
	<string>382121001917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.web</string>
	<key>PROJECT_ID</key>
	<string>esports-98e21</string>
	<key>STORAGE_BUCKET</key>
	<string>esports-98e21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382121001917:ios:223021328f9f44004948d4</string>
</dict>
</plist>